.address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  padding: 0;
  margin-top: 20px;
}
.address__list {
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}
.address__link {
  color: var(--main-white-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--color-brand);
  }
}
.address__link--light {
  color: var(--secondary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
