.button {
  color: var(--main-white-color);
  background-color: var(--color-brand);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}
.button--large {
  padding: 10px 32px;
  min-width: 216px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-h-f-color);
  }
}
.button--svg {
  @include flex-center();
  gap: 10px;
  min-width: 200px;
  height: 50px;
  padding: 0;
  fill: var(--main-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--smaller {
  padding: 10px 52px;
  min-width: 200px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-h-f-color);
  }
}
.button--radio {
  color: var(--main-title-color);
  background-color: var(--section-color);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--main-white-color);
    background-color: var(--color-brand);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}