.checkbox {
  position: relative;
  @include flex-center();
  margin-top: 20px;
  margin-bottom: 40px;
  &__label {
    display: block;
    padding-left: 8px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-primary);
  }
  &__link {
    color: var(--color-brand);
  }
}

.checkbox__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.checkbox__icon-check {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  border: 2px solid var(--main-title-color);
  border-radius: 2px;
  fill: var(--main-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .checkbox__input:checked ~ & {
    background-color: var(--color-brand);
    border: 0;
  }
}
