.clients {
  &__title {
    color: var(--main-title-color);
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
  }
  &__list {
    display: flex;
    gap: 30px;
    padding: 0;
  }
  &__item {
    width: 170px;
    height: 92px;
  }
}
.clients__link {
  @include flex-center();
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--border-color);
  fill: currentColor;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--color-brand);
    border-color: var(--color-brand);
  }
}
