.contacts {
  display: flex;
  gap: 50px;
  padding: 0;
}
.contacts__link {
  @include flex-center(flex, center, space-between);
  color: var(--color-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--color-brand);
  }
}

.contacts__icon {
  fill: currentColor;
  &:hover,
  &:focus {
    fill: var(--color-brand);
  }
}
