.logo {
  color: var(--color-brand);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  &--dark {
    color: var(--logo-dark-color);
  }
  &--light {
    color: var(--main-white-color);
  }
}
