.mailing {
  display: flex;
  gap: 12px;
  margin: 0;

  &__button {
    margin: 0 auto;
  }
}
.mailing__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-accent);
  padding: 15px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--color-brand);
  }
}
