.net-list {
  @include flex-center();
  gap: 10px;
  padding: 0;
  margin-top: 16px;
}

.net-list__link {
  width: 44px;
  height: 44px;
  @include flex-center();
  border-radius: 50%;
  color: var(--border-color);
  background-color: var(--main-white-color);
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--color-brand);
    fill: var(--main-white-color);
  }
}
