.portfolio {
  &__filters {
    @include flex-center();
    margin-bottom: 34px;
    padding: 0;
  }
  &__list {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__button {
    margin: 0 auto;
  }
  &__button--current {
    color: var(--main-white-color);
    background-color: var(--color-brand);
  }
  &__card {
    padding: 0;
    flex-basis: calc((100% - 60px) / 3);
    @include flex-center();
    flex-wrap: wrap;
    gap: 30px;
  }
}
