.team-info {
  background-color: var(--main-white-color);
  min-width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:last-child {
    margin-right: 0;
  }
  &__title {
    color: var(--main-title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  &__details {
    text-align: center;
    padding: 30px;
  }
}
