:root {
    --color-primary: #757575;
    --main-title-color: #212121;
    --color-brand: #2196f3;
    --main-white-color: #ffffff;
    --background-accent: #2f303a;
    --section-color: #f5f4fa;
    --logo-dark-color: #000000;
    --button-h-f-color: #188ce8;
    --secondary-white-color: rgba(255, 255, 255, 0.6);
    --border-color: #afb1b8;
  }